{%block content%}
  <!-- ********************** --> 
  <!--      C O N T E N T     --> 
  <!-- ********************** --> 
  <div id="content" class="container_16">
  

    <div class="grid_16">

      <form id="create" class="clearfix" action="#">
        <h2 class="s_title_1"><span class="s_secondary_color">Form</span> Title</h2>
        <div class="clear"></div>

        <div class="s_row_2 clearfix">
          <label class="required"><strong>Input field</strong></label>
          <input type="text" size="30" />
        </div>

        <div class="s_row_2 clearfix">
          <label><strong>Longer input field</strong></label>
          <input type="text" size="90" />
        </div>

        <div class="s_row_2 clearfix">
          <label><strong>Textarea</strong></label>
          <textarea rows="10" cols="87"></textarea>
        </div>

        <div class="s_row_2 clearfix">
          <label><strong>Select field</strong></label>
          <select style="width: 212px;">
          	<option>Option 1</option>
          	<option>Option 2</option>
          	<option>Option 3</option>
          </select>
        </div>
        
        <div class="s_row_2 clearfix">
          <label><strong>Inline select fileds</strong></label>
          <select class="inline" style="width: 100px;">
          	<option>Option 1</option>
          	<option>Option 2</option>
          	<option>Option 3</option>
          </select>
          /
          <select class="inline" style="width: 100px;">
          	<option>Option 1</option>
          	<option>Option 2</option>
          	<option>Option 3</option>
          </select>
          /
          <select class="inline" style="width: 100px;">
          	<option>Option 1</option>
          	<option>Option 2</option>
          	<option>Option 3</option>
          </select>
        </div>
        
        <div class="s_row_2 clearfix">
          <label><strong>Multiple select field</strong></label>
          <select multiple="multiple" size="5" style="width: 212px;">
          	<option>Option 1</option>
          	<option>Option 2</option>
          	<option>Option 3</option>
          	<option>Option 4</option>
          	<option>Option 5</option>
          	<option>Option 6</option>
          	<option>Option 7</option>
          	<option>Option 8</option>
          	<option>Option 9</option>
          </select>
        </div>
        
        <div class="s_row_2 clearfix">
          <label><strong>Radios group</strong></label>
          <div class="s_full">
            <label class="s_radio"><input type="radio" /> Option 1</label>
            <label class="s_radio"><input type="radio" /> Option 2</label>
            <label class="s_radio"><input type="radio" /> Option 3</label>
            <label class="s_radio"><input type="radio" /> Option 4</label>
            <label class="s_radio"><input type="radio" /> Option 5</label>
            <label class="s_radio"><input type="radio" /> Option 6</label>
            <label class="s_radio"><input type="radio" /> Option 7</label>
            <label class="s_radio"><input type="radio" /> Option 8</label>
          </div>
        </div>
        
        <div class="s_row_2 clearfix">
          <label><strong>Checkboxes group</strong></label>
          <div class="s_full">
            <label class="s_radio"><input type="checkbox" /> Option 1</label>
            <label class="s_radio"><input type="checkbox" /> Option 2</label>
            <label class="s_radio"><input type="checkbox" /> Option 3</label>
            <label class="s_radio"><input type="checkbox" /> Option 4</label>
            <label class="s_radio"><input type="checkbox" /> Option 5</label>
            <label class="s_radio"><input type="checkbox" /> Option 6</label>
            <label class="s_radio"><input type="checkbox" /> Option 7</label>
            <label class="s_radio"><input type="checkbox" /> Option 8</label>
          </div>
        </div>

        <a class="s_button_1 s_main_color_bgr left" onclick="$('#create').submit();"><span class="s_text">Button</span></a>
        <a class="s_button_1 s_ddd_bgr left" onclick="$('#create').submit();"><span class="s_text">Reset button</span></a>
        
      </form>
      
      <br />
      <br />
  
    </div>
    
  </div>
  <!-- end of content --> 
  {%endblock%}
